<!-- Image and text -->
<div class="container">
    <div class="jumbotron text-center bg-danger text-white"><h1>EAT DA BURGER!</h1></div>
    <h1 class="display-4 text-center"><img src="https://user-images.githubusercontent.com/70309736/101441173-22a3fe00-38de-11eb-9337-32f088248f93.png" width="200" class="d-inline-block align-top burger-logo" alt="Burger image"></h1>>

        <p class="lead text-center">Welcome!</p>
</div>

<!-- body -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form action="/insertOne" method="POST">
        <div class="form-group">
          <label for="burger">
            <h3>Create a Burger</h3>
          </label>
          <input name="burger_name" type="text" class="form-control" id="burgerName" aria-describedby="burgerName"
            placeholder="Enter burger name">
        </div>
        <button type="submit" class="btn btn-outline create-burger">Place Order</button>
      </form>
    </div>

    <!-- Order List -->
    <div class="col-sm-4">
      <div class="order-list">
        <h3>Order List</h3>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6>{{this.burger_name}}</h6>
            <form action="/updateOne/{{this.id}}" method="POST">
              <input type="hidden" name="id" value="{{this.id}}">
              <input type="hidden" name="devoured" value="1">
              <button class="btn btn-sm btn-outline m-1 devour-btn float-right">Eat<i class="fas fa-utensils
                  ml-2"></i>
              </button>
            </form>
        </li>
        {{/unless}}
        {{/each}}
      </div>
    </div>

    <!-- Devour List -->
    <div class="col-sm-4">
      <div class="devour-list">
        <h3>Devour List</h3>
  
            {{#each burgers}}
              {{#if this.devoured}}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6>{{this.burger_name}}</h6>
                    <form action="/deleteOne/{{this.id}}" method="DELETE">
                      <input type="hidden" name="id" value="{{this.id}}">
                      <input type="hidden" name="devoured" value="1">
                      <button class="btn btn-sm btn-outline m-1 devour-btn float-right">Delete<i class="fas fa-utensils
                          ml-2"></i>
                      </button>
                    </form>
                </li>
              {{/if }}
            {{/each }}

          </div>
      </div>

  </div>
</div>